[submodule "src/ipm"]
	path = src/ipm
	url = https://github.com/ros-sports/ipm.git
[submodule "src/vision_msgs"]
	path = src/vision_msgs
	url = https://github.com/ros-perception/vision_msgs.git
[submodule "src/humanoid_base_footprint"]
	path = src/humanoid_base_footprint
	url = https://github.com/ros-sports/humanoid_base_footprint.git
[submodule "src/shisen_cpp"]
	path = src/shisen_cpp
	url = git@github.com:ichiro-its/shisen_cpp.git
[submodule "src/keisan"]
	path = src/keisan
	url = git@github.com:ichiro-its/keisan.git
[submodule "src/shisen_interfaces"]
	path = src/shisen_interfaces
	url = git@github.com:ichiro-its/shisen_interfaces.git
[submodule "src/ninshiki_cpp"]
	path = src/ninshiki_cpp
	url = git@github.com:ichiro-its/ninshiki_cpp.git
[submodule "src/ninshiki_interfaces"]
	path = src/ninshiki_interfaces
	url = git@github.com:ichiro-its/ninshiki_interfaces.git
[submodule "src/rot_conv_lib"]
	path = src/rot_conv_lib
	url = https://github.com/bit-bots/rot_conv_lib.git
[submodule "src/biped_interfaces"]
	path = src/biped_interfaces
	url = https://github.com/ros-sports/biped_interfaces.git 
[submodule "src/soccer_ipm"]
	path = src/soccer_ipm
	url = https://github.com/ros-sports/soccer_ipm.git
[submodule "src/soccer_interfaces"]
	path = src/soccer_interfaces
	url = https://github.com/ros-sports/soccer_interfaces.git
